<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div id="productCarousel" class="carousel slide" data-ride="carousel" data-interval="8000">
                    <ol class="carousel-indicators">
                        <li data-target="#productCarousel" data-slide-to="0" class=""></li>
                        <li data-target="#productCarousel" data-slide-to="1" class=""></li>
                        <li data-target="#productCarousel" data-slide-to="2" class="active"></li>
                        <li data-target="#productCarousel" data-slide-to="3" class=""></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item">
                            <img class="d-block img-raised" src="../assets/img/pp-1.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-raised" src="../assets/img/pp-2.jpg" alt="Second slide">
                        </div>
                        <div class="carousel-item active">
                            <img class="d-block img-raised" src="../assets/img/pp-3.jpg" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-raised" src="../assets/img/pp-4.jpg" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#productCarousel" role="button" data-slide="prev">
                        <button type="button" class="btn btn-primary btn-icon btn-round btn-sm" name="button">
                            <i class="now-ui-icons arrows-1_minimal-left"></i>
                        </button>
                    </a>
                    <a class="carousel-control-next" href="#productCarousel" role="button" data-slide="next">
                        <button type="button" class="btn btn-primary btn-icon btn-round btn-sm" name="button">
                            <i class="now-ui-icons arrows-1_minimal-right"></i>
                        </button>
                    </a>
                </div>
                <p class="blockquote blockquote-primary">
                    "And thank you for turning my personal jean jacket into a couture piece. Wear yours with mirrored sunglasses on vacation."
                    <br>
                    <br>
                    <small>Kanye West</small>
                </p>
            </div>
            <div class="col-md-6 ml-auto mr-auto">
                <h2 class="title"> <%= @product.name %> </h2>
                <h5 class="category"></h5>
                <h2 class="main-price">$3,390</h2>
                <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
                    <div class="card card-plain">
                        <div class="card-header" role="tab" id="headingOne">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Description
                                <i class="now-ui-icons arrows-1_minimal-down"></i>
                            </a>
                        </div>
                        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                            <div class="card-body">
                                <p><%= @product.description %></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pick-size">
                    <div class="col-lg-6 col-md-8 col-sm-6">
                        <label>Select color</label>
                        <div class="btn-group bootstrap-select">
                            <button type="button" class="dropdown-toggle select-with-transition btn btn-block" data-toggle="dropdown"
                                role="button" title="Black">
                                <span class="filter-option pull-left">Black</span>&nbsp;
                                <span class="bs-caret">
                                    <span class="caret"></span>
                                </span>
                            </button>
                            <div class="dropdown-menu open" role="combobox">
                                <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                                    <li data-original-index="0" class="selected">
                                        <a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true">
                                            <span class="text">Black</span>
                                            <span class="now-ui-icons ui-1_check check-mark"></span>
                                        </a>
                                    </li>
                                    <li data-original-index="1">
                                        <a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
                                            <span class="text">Gray</span>
                                            <span class="now-ui-icons ui-1_check check-mark"></span>
                                        </a>
                                    </li>
                                    <li data-original-index="2">
                                        <a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
                                            <span class="text">White</span>
                                            <span class="now-ui-icons ui-1_check check-mark"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <select class="selectpicker" data-style="select-with-transition btn btn-block" data-size="7"
                                tabindex="-98">
                                <option value="1">Black</option>
                                <option value="2">Gray</option>
                                <option value="3">White</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8 col-sm-6">
                        <label>Select size</label>
                        <div class="btn-group bootstrap-select">
                            <button type="button" class="dropdown-toggle select-with-transition btn btn-block" data-toggle="dropdown"
                                role="button" title="Small">
                                <span class="filter-option pull-left">Small </span>&nbsp;
                                <span class="bs-caret">
                                    <span class="caret"></span>
                                </span>
                            </button>
                            <div class="dropdown-menu open" role="combobox">
                                <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                                    <li data-original-index="0" class="selected">
                                        <a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true">
                                            <span class="text">Small </span>
                                            <span class="now-ui-icons ui-1_check check-mark"></span>
                                        </a>
                                    </li>
                                    <li data-original-index="1">
                                        <a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
                                            <span class="text">Medium</span>
                                            <span class="now-ui-icons ui-1_check check-mark"></span>
                                        </a>
                                    </li>
                                    <li data-original-index="2">
                                        <a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
                                            <span class="text">Large</span>
                                            <span class="now-ui-icons ui-1_check check-mark"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <select class="selectpicker" data-style="select-with-transition btn btn-block" data-size="7"
                                tabindex="-98">
                                <option value="1">Small </option>
                                <option value="2">Medium</option>
                                <option value="3">Large</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <button class="btn btn-primary mr-3">Add to Cart &nbsp;
                        <i class="now-ui-icons shopping_cart-simple"></i>
                    </button>
                </div>
            </div>
        </div>
       
        
    </div>
</div>
